arrow==0.15.5
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
Django==1.11.8
idna==2.8
jwt==0.6.1
pycparser==2.19
PyJWT==1.7.1
PyMySQL==0.9.3
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
runpy2==2.5
six==1.14.0
urllib3==1.25.8
